#container{
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;
	width: 1200px;
	height: 100%;
}

#search-area{
	height:150px;
	margin-top:20px; 

	text-align: center; 
}

#info-area{
	font-style: bold;
	font-size: 1.5em;
}

#search-input{
	width:500px;
	height: 30px;
}
#search-button{
	/* position: absolute;
	right: 0; */
	width:100px;
	height:30px;
	
	margin-top: 10px;
	
}

.result{
	margin: 10px 0;
	background-color: #eeeeee;
	border-bottom: 1px solid grey;
}