a:hover{
	cursor: pointer; 
}

#container{
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;
	width: 1000px;
	height: 100%;
}

#search-area{
	height:150px;
	margin-top:20px; 

	text-align: center; 
}

#info-area{
	font-style: bold;
	font-size: 1.5em;
}

#search-input{
	display:inline-block;
	width:500px;
	height: 30px;
}
#search-button{
	display:inline-block;
	width:100px;
	height:30px;
	
	margin-top: 10px;
	
}

#result-area{
	position:absolute;
	height:calc(100% - 250px);
	
	bottom:0;
}

.win-container{
	width: 95%;
	height:80px; 
}
.win-listview .win-container:hover,
.win-itemcontainer.win-container:hover {
  	outline: rgba(0, 0, 0, 0.0) solid 3px !important; 
}

.result-item{
	position:relative; 
	margin: 20px 0;
	width: 100%;
	height: 80px;
	padding:10px;
}
.result-item:hover{
	background-color: lightGrey; 
}

.result-item .line1{
	font-size: 1.4em;
	position:absolute;
	top:0;
	width: calc(100% - 20px);
}
.result-item .line2{
	font-size: 0.8em;
	position:absolute;
	top:30px;
	width: calc(100% - 20px);
}
.result-item .line3{
	position:absolute;
	top:50px;
	width: calc(100% - 20px);
}
.result-item .line4{
	position:absolute;
	top:70px;
	width: calc(100% - 20px);
}


